html
  head
    title Products
    link(rel="stylesheet", href="/static/css/admin/products.css")
    script(src="/static/js/admin_products.js" defer)  
  body
    button(id = "add-product") Add Product
    table(id = "products")
      tr
        th id
        th Name
        th Price
        th Description
        th Category

      each val in products
        tr(data-id = val.id class = "product" id="product-" + val.id)
          td= val.id
          td= val.name
          td= val.price
          td= val.description
          td= val.category ? val.category.name : ""
    div(id = "modal" class = "modal")
      div(class = "modal-content")
        form(id = "product-form" novalidate)
          div(id = "form-content")
            label(for = "input-name") 
              div Name
              input(type = "text" required id = "input-name" name = "name" placeholder = "Name")

            label(for = "input-price") 
              div Price
              input(type = "number" required id = "input-price" name = "price" placeholder = "Price")

            label(for = "input-description") 
              div Description
              textarea(id = "input-description" name = "description" placeholder = "Description")

            label(for = "product-images") 
              div Description
              input(id = "product-images" name = "images" type = "file" multiple)

            label(for = "select-category-for-create") 
              div Parent category
              select(id = "select-category-for-create" name = "parent_category_id")
                each val in categories
                  option(value = val.id)= val.name

            div(id = "error-message")  

            button(type = "submit") Submit
        button(id = "close-modal-button" class = "close-button") X
    #edit-product-modal.modal
      #edit-product-modal-content.modal-content
        form(id = "edit-product-form" novalidate)
          #edit-form-content
            label(for = "edit-input-name") 
              div Name
              input(type = "text" required id = "edit-input-name" name = "name" placeholder = "Name")

            label(for = "edit-input-price") 
              div Price
              input(type = "number" required id = "edit-input-price" name = "price" placeholder = "Price")

            label(for = "edit-input-description") 
              div Description
              textarea(id = "edit-input-description" name = "description" placeholder = "Description")

            label(for = "select-category-for-edit") 
              div Parent category
              select(id = "select-category-for-edit" name = "category")
                each val in categories
                  option(value = val.id)= val.name

            label(for = "product-images-edit") 
              div Description
              input(id = "product-images-edit" name = "images" type = "file" multiple)      

            #edit-error-message  

            button(type = "submit" id = "save-product-button") Save
            button(id = "delete-product-button" type = "button") Remove

        #edit-product-modal-images    
        button(id = "close-edit-modal-button" class = "close-button") X    
      